<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>注册</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" href="static/register_login/style.css">
   <link rel="shortcut icon" href="{% static 'img/user_login.ico' %}">
</head>
<body>
<script>
    function check_password() {
        if (confirm_password_id.value !== password_id.value) {
            alert("两次输入密码不一致！");
            password_id.value = "";
            confirm_password_id.value = "";
        }
    }
</script>
<div class="container register-center">
      <div class="row">
         <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-success panel-opacity panel-shadow">
               <div class="panel-heading">
                  <strong><center>用户注册</center></strong>
               </div>
               <div class="panel-body">
                  <form class="form-horizontal" action="/user_register">

                     <!-- USERNAME -->
                     <div class="form-group">
                        <div class="input-group col-md-10 col-md-offset-1">
                           <div class="input-group-addon"><i class="glyphicon glyphicon-sunglasses"></i></div>
                           <input type="username" name="username" class="form-control " id="user_name_id" placeholder="Username" required>
                        </div>
                     </div>

                     <!-- EMAIL -->
                     <div class="form-group">
                        <div class="input-group col-md-10 col-md-offset-1">
                           <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                           <input type="email" name="email" class="form-control " id="email_id" placeholder="Email" required>
                        </div>
                     </div>

                     <!-- PASSWORD -->
                     <div class="form-group">
                        <div class="input-group col-md-10 col-md-offset-1">
                           <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                           <input type="password" name="password" class="form-control " id="password_id" placeholder="Password" required>
                        </div>
                     </div>

                     <!-- CONFIRM PASSWORD -->
                     <div class="form-group">
                        <div class="input-group col-md-10 col-md-offset-1">
                           <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                           <input type="password" class="form-control " id="confirm_password_id" onblur="check_password()" placeholder="Confirm Password" required>
                        </div>
                     </div>

                     <div class="form-group">
                        <div class="col-md-offset-1">
                           <button class="btn btn-success col-md-11"><strong>注册</strong></button>
                        </div>
                     </div>

                  </form>
               </div>

               <div class="panel-footer text-right">
                  已经拥有账户? <strong><a href="/">登录</a></strong>
               </div>
            </div>
         </div>
      </div>
   </div>


   <script   src="https://code.jquery.com/jquery-3.1.1.slim.min.js"   integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="   crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
