<!doctype html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable = no"/>
    <title>北京市预约挂号统一平台</title>
    <script type="text/javascript">
        if (typeof (GS) == "undefined" || !GS) {
            var GS = {};
        }
        GS.Url = {
            basePath: "/",
            hs: "http://img.bjguahao.gov.cn/ws/1.0/hs/",
            hps: "http://img.bjguahao.gov.cn/",
            uploadUrl: "/u/upimg.htm",
            uploadFileUrl: "/u/upimg.htm",
            specializedHospitalUrl: "http://zmyygh.114menhu.com/"
        };
        var basePath = GS.Url.basePath, hs = GS.Url.hs, hps = GS.Url.hps;
        var logined = false;</script>
    <link rel="stylesheet" type="text/css" href="http://img.bjguahao.gov.cn/ws/1.0/hs/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://img.bjguahao.gov.cn/ws/1.0/hs/css/rl_jquery.ui.css">
    <link rel="stylesheet" type="text/css" href="http://img.bjguahao.gov.cn/ws/1.0/hs/css/rl_css.css">
    <link rel="stylesheet" type="text/css" href="http://img.bjguahao.gov.cn/ws/1.0/hs/css/yidongduan.css"/>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/jquery.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/top.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/hospitalslist.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/loginpop.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/ajaxfileupload.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/global.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/userattention.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/formater.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/jquery.validate.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/validate_expand.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/validate3.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/gvalidate.js"></script>
    <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/topdate.js"></script>
    <script type="text/javascript" src="/hp/regex.htm"></script>
    <link rel="stylesheet" href="{% static 'user_info/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'iconfont/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'css/ui.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
</head>
<body>
<div id="top_1" class="top">
    <div class="wrap">
        <p class="call">010-114/116114电话预约</p>
        <p class="welcome">欢迎来到城市预约挂号统一平台&nbsp;
            <strong>{{ user_name}}</strong>
            <a href="/user_info">个人中心</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
        </p>
    </div>
</div>

<div id="header" class="header">
    <div class="wrap">
        <a href="#" class="logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
        <div class="search ui-search">
            <div class="ui-search-selected">医院</div>
            <div class="ui-search-selected-list">
                <a href="#">科室</a>
                <a href="#">医院</a>
                <a href="#">科室</a>
            </div>
            <input type="text" class="ui-search-input" placeholder="请输入搜索内容">
            <a href="#" class="ui-search-submit">&nbsp;</a>
        </div>
    </div>
</div>
<div id="djdl">
    <div class="djdl_tab">
        <div id="djdl_menui" class="djdl_menu">
            <ul>
                <li class="djdl_selected">快速登录</li>
                <li>验证登录</li>
            </ul>
        </div>
        <div id="djdl_tab_id" class="djdl_tab_box">
            <form id="rg_nrfrom1" method="post" action="">
                <div class="ksdl_ul">
                    <div class="ysdl_tsyj"><p>温馨提示：已注册但未设置登录密码的用户须使用验证登录方式。</p></div>
                    <div class="vre_err"><span id="qresultspan"></span></div>
                    <dl class="djdl_ty_dl">
                        <dt>手机号码：</dt>
                        <dd><input id="mobileQuickLogin" name="smsQuick" type="text" class="register_input" maxlength=18
                                   value="已注册手机号码"
                                   onfocus="javascript:if(this.value=='已注册手机号码')this.value='',style.color='#000'; $('.hl_tsxx_yc').show()"
                                   onblur="javascript:if(this.value=='')this.value='已注册手机号码',style.color='#ccc';"
                                   style="color: #ccc;"><b class="tipinfo">*</b></dd>
                    </dl>
                    <dl class="djdl_ty_dl">
                        <dt>登录密码：</dt>
                        <dd><input type="password" name="passWordQuick" autocomplete="off" style="display:none"
                                   id="pw"/><input id="pwQuickLogin" name="passWordQuick" type="passWord"
                                                   autocomplete="off" class="register_input" maxlength=18><b
                                class="tipinfo">*</b><b class="tipinfo"></b></dd>
                    </dl>
                    <dl id="quick_login_yzm_dl" class="djdl_ty_dl" style="display: none;">
                        <dt>验证码：</dt>
                        <dd>
                            <div style="float:left;"><input id="yzmQuickLogin" name="yzmQuick" maxlength=4 type="text"
                                                            class="register_inputa"><a
                                    href="javascript:reloadImage($('#quick_login_yzmdl'));" class="sydl_yzmtp"><img
                                    id="quick_login_yzmdl" src="" align="absmiddle" class="register_yzm"></a><a
                                    href="javascript:reloadImage($('#quick_login_yzmdl'));" class="sydl_new_hyz"></a>
                            </div>
                            <span><b class="tipinfo">*</b></span></dd>
                    </dl>
                    <div class="tydiv"><input id="quick_login" name="submit" type="submit"
                                              class="ksdl_ul_denglu djdl_nav_qr" value="登录"><a href="/reg.htm"
                                                                                               class="ksdl_ul_register"
                                                                                               target="_blank">注册新用户</a>
                    </div>
                    <a href="javascript:void(0);" class="ksdl_ul_wjmm" onclick="popDiv();">忘记密码?</a></div>
            </form>
            <form id="rg_nrfrom2" method="post" action="" class="djdl_hide">
                <div class="ysdl_ul">
                    <div class="ysdl_tsyj"><p>温馨提示：已注册并设置登录密码的用户须使用快速登录方式。</p></div>
                    <div class="vre_err"><span id="vresultspan"></span></div>
                    <dl class="djdl_ty_dl">
                        <dt>用户姓名：</dt>
                        <dd><input id="nameVerifyLogin" name="userName" type="text" class="register_input"
                                   value="请填写已注册用户真实姓名"
                                   onfocus="javascript:if(this.value=='请填写已注册用户真实姓名')this.value='',style.color='#000';"
                                   onblur="javascript:if(this.value=='')this.value='请填写已注册用户真实姓名',style.color='#ccc';"
                                   style="color:#ccc"><b class="tipinfo">*</b></dd>
                    </dl>
                    <dl class="djdl_ty_dl">
                        <dt>证件号码：</dt>
                        <dd><input id="zjhmVerifyLogin" name="isshefn" type="text" class="register_input" maxlength=20
                                   value="与用户姓名对应的证件号码"
                                   onfocus="javascript:if(this.value=='与用户姓名对应的证件号码')this.value='',style.color='#000';"
                                   onblur="javascript:if(this.value=='')this.value='与用户姓名对应的证件号码',style.color='#ccc';"
                                   style="color: #ccc;"><b class="tipinfo">*</b></dd>
                    </dl>
                    <dl class="djdl_ty_dl">
                        <dt>手机号码：</dt>
                        <dd><input id="mobileVerifyLogin" name="sms" type="text" class="register_input" maxlength=18
                                   value="与证件号码绑定的手机号码"
                                   onfocus="javascript:if(this.value=='与证件号码绑定的手机号码')this.value='',style.color='#000'; $('.hl_tsxx_yc').show()"
                                   onblur="javascript:if(this.value=='')this.value='与证件号码绑定的手机号码',style.color='#ccc';"
                                   style="color: #ccc;"><b class="tipinfo">*</b></dd>
                    </dl>
                    <dl class="djdl_ty_dl">
                        <dt>验证码：</dt>
                        <dd>
                            <div style="float:left;"><input id="yzmVerifyLogin" name="code" maxlength=4 type="text"
                                                            class="register_inputa"><a
                                    href="javascript:reloadImage3($('#yzmdl'),'yzdl');" class="sydl_yzmtp"><img
                                    id="yzmdl" src="" align="absmiddle" class="register_yzm"></a><a
                                    href="javascript:reloadImage3($('#yzmdl'),'yzdl');" class="sydl_new_hyz"></a><input
                                    name="channel" type="hidden" value="yzdl"></div>
                            <b class="tipinfo">*</b></dd>
                    </dl>
                    <dl class="djdl_ty_dl">
                        <dt>手机验证码：</dt>
                        <dd><input id="sjyzmVerifyLogin" name="smsCode"
                                   onkeyup="this.value=this.value.replace(/\D/g,'')"
                                   onafterpaste="this.value=this.value.replace(/\D/g,'')" maxlength=6 type="text"
                                   class="register_inputa"><input id="btnSendCodeVLogin" name="yt0" class="msjyz_dj"
                                                                  type="button" value="获取验证码"><b class="tipinfo">*</b>
                        </dd>
                    </dl>
                    <div class="tydiv"><input id="verify_login" name="submit" type="submit"
                                              class="ysdl_ul_denglu djdl_nav_qr" value="登录"><a href="/reg.htm"
                                                                                               class="ysdl_ul_register"
                                                                                               target="_blank">注册新用户</a>
                    </div>
                </div>
                <input name="smsType" type="hidden" value="2"/><input id="loginLocation" name="loginLocation"
                                                                      type="hidden" value="1"/>
                <div class="hl_tsxx_yc">
                    手机号码帮助：1.若您注册时没有绑定手机号码或您在114坐席系统预留的是座机号码，请填写您现有的手机号码与您的注册身份信息进行绑定。2.若您填写的手机号码与初始注册时绑定的手机号码不一致，请通过<a
                        href="/help/retracc1.htm">账号申诉</a>修改绑定手机号。3.若您填写的手机号已被其他用户绑定，请输入其他有效手机号进行验证登录。
                </div>
            </form>
        </div>
    </div>
    <div id="djdl_close"><a></a></div>
</div>
<div id="djdl_fpassword" class="djdl_fpassword" style="display: none;">
    <form id="rg_nrfrom6" method="post" action=""><h3 class="djdl_fpassword_h3">密码找回</h3>
        <div class="djdl_fpassword_content">
            <div class="vre_err"><span id="fpresultspan"></span></div>
            <dl class="djdl_ty_dl">
                <dt>证件号码：</dt>
                <dd><input id="djdl_fp_zjhm" name="isshefn" type="text" class="register_input"><b class="tipinfo"></b>
                </dd>
            </dl>
            <dl class="djdl_ty_dl">
                <dt>验证码：</dt>
                <dd><input id="djdl_fp_yzm" name="code" maxlength="4" type="text" class="register_inputa"><a
                        href="javascript:reloadImage3($('#djdl_fp_yzmdl'),'zhmm');" class="sydl_yzmtp"><img
                        id="djdl_fp_yzmdl" src="" align="absmiddle" class="djdl_fp_yzm"></a><a
                        href="javascript:reloadImage3($('#djdl_fp_yzmdl'),'zhmm');" class="sydl_new_hyz"></a><input
                        name="channel" type="hidden" value="zhmm"></dd>
            </dl>
            <dl class="djdl_ty_dl">
                <dt>手机号码：</dt>
                <dd><input id="djdl_fp_sfzhm" name="sms" type="text" class="register_input"><b class="tipinfo"></b></dd>
            </dl>
            <dl class="djdl_ty_dl">
                <dt>手机验证码：</dt>
                <dd><input id="djdl_fp_sjyz" name="smsCode" type="text" class="register_inputa"><input
                        id="btnSendCodeFPW" name="yt0" class="djdl_fpjyz_dj" type="button" value="获取验证码"></dd>
            </dl>
            <input name="smsType" value="8" type="hidden"/><input id="djdl_fp_qr2" name="button" type="button"
                                                                  class="djdl_fp_qr2" value="确认" onclick="checkForm();"><input
                name="submit" type="submit" class="djdl_fp_qr1" value="返回"><br></div>
    </form>
    <div id="djdl_fp_close"><a></a></div>
</div>
<div id="djdl_fpsu" class="djdl_fpsu">
    <form id="rg_nrfrom7" method="post" action=""><h3 class="djdl_fpsu_h3">密码找回</h3>
        <p class="djdl_twop_tsxp">请您输入您的新密码并确认</p>
        <div class="djdl_fpsu_success">
            <div class="vre_err"><span id="fp2resultspan"></span></div>
            <dl class="djdl_ty_dl">
                <dt>设置密码：</dt>
                <dd><input id="passWordfp" name="passWord" type="password" autocomplete="off" class="register_input"><b
                        class="tipinfo"></b></dd>
            </dl>
            <dl class="djdl_ty_dl">
                <dt>确认密码：</dt>
                <dd><input type="password" name="passWordAgain" autocomplete="off" style="display:none" id="pw2"/><input
                        id="passWordAgainfp" name="passWordAgain" type="password" autocomplete="off"
                        class="register_input"><b class="tipinfo"></b></dd>
            </dl>
            <input name="submit" type="button" class="djdl_fpsu_qr2" value="确认修改" onclick="submitModifyPass();"></div>
    </form>
    <div id="djdl_fpsu_close" class="tang_close" style="z-index:9999;"><a></a></div>
</div>
<div class="djdl_fpsuts" id="djdl_fpsuts_success"><h3 class="djdl_fpsuts_h3">密码找回</h3>
    <div class="djdl_fpsuts_success"><p>恭喜您密码修改成功</p><a href="/logout.htm" class="djdl_fpsuts_jxdl">继续登录</a></div>
    <div id="djdl_fpsuts_close" class="tang_close3"><a></a></div>
</div>
<div id="djdl_fpfalse" class="djdl_fpfalse"><h3 class="djdl_fpfalse_h3">密码找回</h3>
    <div class="djdl_fpfalse_success"><p> 您的手机验证码输入错误，如果您的绑定手机号码有误<br>请点击“账号申诉”。 </p><a
            href="javascript:$('#djdl_fpfalse').hide();popDiv();" class="djdl_fpfalse_callback">返回</a><a
            href="/help/retracc2.htm" class="djdl_fpfalse_zhzh">账号申诉</a></div>
    <div id="djdl_fpfalse_close"><a href="javascript:void(0)" class="tang_close_ZH"></a></div>
</div>
<div id="djdl_twoperson" class="djdl_twoperson" style="display:none"></div>
<div id="djdl_twoperson5" class="djdl_twoperson5"><h3 class="djdl_twoperson_h3">用户登录</h3>
    <div class="djdl_tw_success"><p id="setsus">密码设置成功，欢迎您来到北京市预约挂号统一平台</p><a id="djdl_twop_qr"
                                                                              class="djdl_twop_qr tang_close2">确认</a>
    </div>
    <div id="djdl_twoperson5_close" class="tang_close2"><a></a></div>
</div>
<div id="denglucg">
    <iframe style="position:absolute;width:100%;height:100%;_filter:alpha(opacity=0);opacity:0;border-style:none;z-index:-1;border:0"></iframe>
    <div class="denglucg_tp"><img src="http://img.bjguahao.gov.cn/ws/1.0/hs//images/denglucheng.jpg">
        <p>登录成功</p></div>
</div>
<div class="djdl_twoperson6">
    <form id="rg_nrfrom10" method="post" action=""><h3 class="djdl_twoperson_h3">用户登录</h3>
        <div class="djdl_twoperson_content"><p class="djdl_twop_tsxx4">您好，使用非身份证号注册的用户需要补全性别及年龄信息</p>
            <div class="vre_err"><span id="vresultspan3"><p class="error" generated="true"
                                                            for="setpassword">请您选择出生日期</p></span></div>
            <dl class="djdl_ty_dl">
                <dt>用户：</dt>
                <dd>张先生 军官证 H123456</dd>
            </dl>
            <dl class="djdl_ty_dl">
                <dt>性别：</dt>
                <dd><a href="1" class="rg_nr_boy rg_nr_acolor">男</a><a href="2" class="rg_nr_girl">女</a><b
                        class="tipinfo"></b></dd>
            </dl>
            <dl class="djdl_ty_dl">
                <dt>出生日期：</dt>
                <dd><select id="sel_year2" class="zj_select" style="color:#ccc"
                            onChange="var index = $(this).children('option:selected').index();this.style.color=(index==0?'#ccc':'black')"></select><select
                        id="sel_month2" class="zj_select" style="color:#ccc"
                        onChange="var index = $(this).children('option:selected').index();this.style.color=(index==0?'#ccc':'black')"></select><select
                        id="sel_day2" class="zj_select" style="color:#ccc"
                        onChange="var index = $(this).children('option:selected').index();this.style.color=(index==0?'#ccc':'black')"></select><b
                        class="tipinfo"></b></dd>
            </dl>
            <input name="submit" type="submit" class="djdl_twop_qr1" value="确认"></div>
        <script type="text/javascript" src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/birthday2.js"></script>
    </form>
    <div id="djdl_twoperson_close"><a href="#"></a></div>
</div>
<div class="use_shimingrenz" id="use_smrztc2">
    <div class="use_smrztc_sb2"><p>实名认证中<b class="divTime"></b></p></div>
</div>
<script>
    /*点击登录的弹窗*/
    $(document).ready(function () {
        $(".db_denglu").click(function () {
            popCenterWindow("#djdl", ".ksdl_ul_denglu", "#djdl_close");
            reloadImage3($('#yzmdl'), 'yzdl');
        });
    });

    var windowHeight;

    var windowWidth;

    var popWidth;

    var popHeight;

    function init(odiv) {
        windowHeight = $(window).height();
        windowWidth = $(window).width();
        popHeight = $(odiv).outerHeight();
        popWidth = $(odiv).outerWidth();
    }

    function popCenterWindow(odiv, clos, clos2) {
        init(odiv);

        var popY = (windowHeight - popHeight) / 2;
        var popX = (windowWidth - popWidth) / 2;

        $(odiv).css("top", popY + $(window).scrollTop()).css("left", popX)
            .show();
        $("#bg").css({
            display: "block",
            height: $(document).height()
        });

        $(window).on('resize scroll', function () {
            $(odiv).css("top", popY + $(window).scrollTop()).css("left", popX);
        });
    }

    function popCenterWindow2(odiv2) {
        init(odiv2);

        var popY = (windowHeight - popHeight) / 2;
        var popX = (windowWidth - popWidth) / 2;

        $(odiv2).css("top", popY + $(window).scrollTop()).css("left", popX)
            .show(200).delay(2000).hide(100);

        $(window).on(
            'resize scroll',
            function () {
                $(odiv2).css("top", popY + $(window).scrollTop()).css(
                    "left", popX);
            });
    }

    var btnCloseTang = $("#djdl_close > a");
    /* var btn = document.getElementById("djdl_close");
    btn.onclick = function() {
        var div = $("#djdl");
        div.css({
            "display" : "none"
        });
        $("#bg").css("display", "none");
    } */
    $("#djdl_close").click(function () {
        $("#djdl").css({
            "display": "none"
        });
        $("#bg").css("display", "none");
    });

    /* var btnCloseMMZH = $("#djdl_fp_close > a");
    var btnCl = document.getElementById("djdl_fp_close");
    btnCl.onclick=function(){
        var divs = $("#djdl_fpassword");
        divs.css({"display":"none"});
        $("#bg").css("display", "none");
    }; */


    $("#djdl_fp_close").click(function () {
        $("#djdl_fpassword").css({
            "display": "none"
        });
        $("#bg").css({
            "display": "none"
        });
    });

    $(".tang_close").click(function () {
        $("#djdl_fpsu").css({
            "display": "none"
        });
        $("#bg").css({
            "display": "none"
        });
    });

    $(".tang_close2").click(function () {
        $("#djdl_twoperson5").css({
            "display": "none"
        });
        $("#bg").css({
            "display": "none"
        });
    });
    $(".tang_close3").click(function () {
        $("#djdl_fpsuts_success").css({
            "display": "none"
        });
        $("#bg").css({
            "display": "none"
        });
    });

    $(".tang_close_ZH").click(function () {
        $("#djdl_fpfalse").css({
            "display": "none"
        });
        $("#bg").css({
            "display": "none"
        });
    });

    $(function () {
        $.ms_DatePicker({
            YearSelector: ".sel_year",
            MonthSelector: ".sel_month",
            DaySelector: ".sel_day"
        });
        $.ms_DatePicker();
    });
</script>
<script type="text/javascript">

    $(function () {
        $("#float-div-close").click(function () {
            $("#float-guangao").hide();
        });
    });
</script>
<div id="nav">
    <div id="nav_box">
        <ul class="nav_ul">
            <li><a href="/index.htm">首页</a></li>
            <li><a href="/hp.htm">按医院挂号</a></li>
            <li><a href="/dpt.htm">按科室挂号</a></li>
            <li><a href="/dis.htm">按疾病挂号</a></li>
            <li><a href="/ann.htm">最新公告</a></li>
        </ul>
    </div>
</div>
<div id="help_register">
    <div class="help_left">
        <ul class="help_menu">
            <li class="help_level1"><span class="help_level1_span help_titlicon4">常见问题</span>
                <ul class="help_level2">
                    <li><a href="/help/common.htm">常见问题</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script>
        $(".help_menu").find("a[href='/help/common.htm']").attr("class", "help_le_coler");
    </script>
    <div class="help_right"><h3 class="help_right_h3">常见问题</h3>
        <div class="help_right_content">
            <dl class="help_right_content_dl">
                <dt>1、统一平台有几种预约方式？</dt>
                <dd>统一平台包括网上预约 www.bjguahao.gov.cn 和114电话预约两种预约方式。</dd>
                <dt>2、我是第一次使用这个平台预约，是否能够不注册就使用预约挂号?</dt>
                <dd>首次使用预约挂号，需要进行注册才能够使用预约挂号服务，可登录统一平台网站www.bjguahao.gov.cn 注册。</dd>
                <dt>3、要患者的姓名和身份证件有什么用？</dt>
                <dd>　患者身份证件和患者信息是取号就诊的必要凭证。<br>
                    　为规范号源管理，预约挂号系统采用"实名制"挂号，用户在通过统一平台注册预约时，须提供"患者本人"的有效证件号、患者姓名和"预约手机号码"等信息。系统根据用户填写的"预约手机号"将预约成功通知短信和预约识别码发送到手机上。<br>
                    　患者到医院取号就诊时，须出示患者本人的有效证件和预约成功短信，医务人员会对照计算机系统核对患者预约信息，验证是否与在该院的就诊信息中的姓名、手机号或身份证号一致，若出现任何信息不符，都会导致计算机系统无法正确找到病人的预约信息，导致取号失败。
                </dd>
                <dt>4、注册时填写手机号码有什么用？</dt>
                <dd>　注册时填写的手机号码作为修改信息环节、预约环节用于验证和接收信息的必要工具，并且当医生临时停诊或发布重要通知时，以便我们能够及时通知到您。</dd>
                <dt>5、没有统一平台支持的有效证件如何注册预约？</dt>
                <dd>　没有统一平台支持的有效证件的用户，目前不能通过统一平台网站和114电话注册预约，只能到医院现场挂号就诊。<br>
                    　特别提示："首都医科大学附属北京儿童医院（北京儿童医院）"注册预约比较特殊，患儿无需本人的有效证件注册预约。【平台注册环节，注册登记信息可以填写监护人的实名身份信息，但在预约环节需按规定填写患儿姓名、性别、出生日期等基本信息，就诊当日须出示监护人注册时的有效证件取号就诊。同时，就诊当日必须带患儿就诊。否则此号源作废】。
                </dd>
                <dt>6、无身份证号，或者已经申报户口但还未办理身份证的患儿如何注册预约？</dt>
                <dd>　① 对于没有身份证号的患儿，可以用统一平台支持的其它有效证件预约挂号，或者直接去现场儿童急门诊挂号就诊。②
                    对于已经申报户口但还未办理身份证的患儿，可凭身份证号在统一平台上正常注册预约，就诊时凭带有身份证号码相关联的有效证件（如户口本）取号就诊，或者直接去现场儿童急门诊挂号就诊。③
                    "北京儿童医院、儿研所"注册预约比较特殊，注册登记信息可以填写监护人的实名身份信息，预约环节需按规定填写患儿的基本信息。
                </dd>
                <dt>7、患者注册信息填写有误，是否会影响就诊？</dt>
                <dd>
                    　114电话和网络注册及预约都需实名制患者信息，就诊当天也是需要凭患者真实有效证件取号，若信息不正确将影响当天取号就诊。所以建议用户发现注册信息有误时，请尽快提交申请处理，如果您已经预约，建议您在预约取消截止时限内，先取消预约订单，再重新注册账号。或者走账号申诉流程让工作人员协助修改。
                </dd>
                <dt>8、预约成功，发现注册信息有误，我能修改么？</dt>
                <dd>　不能直接修改，要解决此类问题，只能把原有的预约号在规定取消时限内取消掉，然后再提交申请修改资料，待成功受理完成后重新再去预约。</dd>
                <dt>9、我登录和不登录统一平台有什么区别吗？</dt>
                <dd>　只有注册并成功登录后，您才可以查看到具体的班次和号源信息，根据个人情况选择合 适的班次进行预约。</dd>
                <dt>10、114电话预约和网站预约的号源信息是否同步？</dt>
                <dd>　是同步的，二者属于同一系统，同一个大号池，不同的预约方式；考虑到老人挂号方便， 电话预约的号源放号比例会相对多一些，所以在部分号源紧张的情况下，建议两种预约方式都尝试一下。</dd>
                <dt>11、网站上显示有号，可填完资料提交时却告诉我没号了？</dt>
                <dd>　遇到这种情况，是因为有很多用户在同时预约此号，该号源在您点击"预约确认"之前已被其他用户先预约成功导致的，您可选择其他医生或者改期预约。</dd>
                <dt>12、为什么找不到我要挂的专家号？</dt>
                <dd>
                    　根据北京市卫生和计划生育委员会医改新政策按医院、科室、职称、专业不点名预约。对于取消点名挂号，我们强调的是目前北京市实行的取消点名挂号只是针对首诊病人，也就是"首诊取消点名挂号"。因为对于第一次就诊的患者，由于对就诊流程和医生诊疗特点不太熟悉，往往会盲目选择医生和扎堆儿挑专家，从而加剧了看专家难。而对于需要定期复诊的老病号，是由首诊医生直接为患者预约下次就诊号源，也就是复诊可以点名，这个点名过程是由接诊专家为患者复诊预约来实现的，从而确保患者就医的连续性。
                </dd>
                <dt>13、为什么我无法预约？</dt>
                <dd>　　原因一：请确认是否已正常注册/登录。<br> 　　原因二：请确认您是否按网上预约流程正常操作，如方便亦可致电114协助解决。<br>
                    　　原因三：请确认您是否已经违反统一平台规定（恶意挂号和取消、多次无故不取号就诊也不取消、贩卖号源行为等），目前已进入黑名单或者是爽约用户，该类用户将被限制使用预约挂号服务。<br>
                    　　原因四：114电话注册用户首先需要通过网上注册认证，才能正常在网上预约挂号，请确保您是否已经通过认证。<br>
                    　　原因五：为了保障医疗资源的合理分配，加强号源管理，防止号贩行为，本预约挂号系统将对用户的预约行为进行限制："同一患者实名（有效证件号）在同一就诊日、同一医院、同一科室只能预约1次；在同一就诊日的预约总量不可超过2次；在七日内的预约总量不可超过3次；在三个月内预约总量不可超过5次。"当您的预约次数达到以上的预约限制时，系统将会自动提醒您达到预约上限。<br>
                    　　原因六：平台短信系统繁忙，造成短信验证码发送延迟，请稍后再试，或者亦可通过114电话人工协助下单预约挂号。
                </dd>
                <dt>14、应该提前多少天预约？</dt>
                <dd>　用户一般可预约次日起至三个月内的就诊号源，但由于各医院规定不同，具体预约挂号周期，以114电话查询和网站公示为准。所有医院均不提供当天的预约服务，建议您尽量提前预约。</dd>
                <dt>15、预约挂号统一平台什么时候放号，24小时开放么？</dt>
                <dd>　统一平台上各家医院的放号时间有所不同，具体以各家医院预约须知为准。<br> 　统一平台是24小时开放的，只要上面有预约号，用户就可以自行操作预约。</dd>
                <dt>16、节假日及周六日能预约挂号吗？</dt>
                <dd>　节假日不安排预约号，但个别医院周六日是有号源的，具体按各家医院预约须知规定执行。</dd>
                <dt>17、北京市预约挂号统一平台网站预约和114电话预约服务是否收费？</dt>
                <dd>　依据北京市政府新政，北京市预约挂号统一平台为用户提供免费注册预约，不收取任何费用。各家医院仅收取与医生职称相对应的医事服务费，如与您预约时不符，则以当日医院挂号窗口为准。</dd>
                <dt>18、为什么我老是收不到验证短信？</dt>
                <dd>　　北京市预约挂号统一平台验证短信是要在网页上触发后才会下发到用户注册手上，有时候短信系统繁忙等原因，也会导致短信下发延迟。另外，还有一些是由于运营商或者用户自己手机问题引起的，例如：<br> 　　①
                    用户长时间关机或者不在服务区等导致的短信超时没有递交到用户手机上；<br> 　　② 处于停机状态，呼叫被禁止，用户的语音功能被关闭造成短信功能也一起停用；<br> 　　③
                    黑名单用户或非法用户；<br> 　　④ 确认手机是否被手机系统设置自动拦截，被误认为"垃圾短信"；<br> 　　⑤ 手机内存满；<br> 　　⑥ 注册手机号码错误或者号码无效；<br> 　　⑦
                    联通或移动用户帐户数据异常；
                </dd>
                <dt>19、如何知道已预约成功？</dt>
                <dd>　　确认预约后，就诊人的预约注册手机会同步收到"预约成功短信"以示成功，同时您可以通过"个人中心>预约管理>当前预约"查询预约订单信息状态。<br>
                    　　预约成功短信内容如下："xxx您好，您已成功预约**医院**科室***医，您的顺序号xx，预约识别码[xxxxxxxx],就诊日期是**年**月**日（上午/下午），取号时间：xx点xx分取号，取号地点：xxxxxxxx，114/116114转6。"<br>
                    　　由于"预约成功通知短信"包括"订单详情"、"取号时间"、"取号地点"等信息，内容较多，系统将根据内容长短，自动分为1至2或3条发送至您的手机，收到其中的任意一条，都代表您已预约成功。<br>
                    　　请您妥善保存短信，如您未收到短信或者丢失短信，请与114联系，人工核实信息后，系统会重新为您发送短信。
                </dd>
                <dt>20、爽约的判定以及处罚？</dt>
                <dd>
                    　　爽约是指用户未按医院规定的取号时间提前到医院指定的挂号窗口取号，且超过预约就诊时间未能按时就诊即视为爽约，该预约号源自动作废。如仍需就诊可重新预约或到医院挂号窗口挂号。一年内（自然年）无故爽约累计达到3次的爽约用户将自动进入系统爽约名单，此后3个月内将取消其预约挂号资格；一年内（自然年）累计爽约6次，取消6个月的预约挂号资格。<br>
                    　　以下医院爽约处罚比较特殊，具体如下：<br> 　　① 同仁医院、医科院肿瘤医院：<br> 　　一年内（自然年）爽约1次，自爽约之日起30日内停止预约挂号服务；<br>
                    　　一年内（自然年）累计爽约2次，自最后一次爽约之日起60日内停止预约挂号服务；<br> 　　一年内（自然年）累计爽约3次，自最后一次爽约之日起90日内停止预约挂号服务；<br>
                    　　以此类推。<br> 　　② 北京肿瘤医院、空军总医院、北京大学第一医院：<br> 　　一年内（自然年）累计爽约2次，取消本年度的预约挂号资格。<br> 　　③ 北京安贞医院：<br>
                    　　一年内（自然年）累计爽约3次，取消本年度的预约挂号资格。
                </dd>
                <dt>21、"爽约记录"的查询和申诉？</dt>
                <dd>
                    　　用户登录平台后，可以通过点击导航上面的"个人中心"，然后点击"预约记录"这一项查询，在页面上会显示您所有预约的详细信息，其中包括爽约记录，记录了您的每一次爽约。如您有任何疑问或不解可选择在线申诉，工作人员会尽快受理。
                </dd>
                <dt>22、预约挂号成功后，可以改号吗？</dt>
                <dd>　　用户应在预约前确定好自己想挂的科室或专家，已成功预约的订单若需要更改，可在规定的取消时限内先做取消预约处理，再重新预约。</dd>
                <dt>23、预约号能转让吗？</dt>
                <dd>　　不能，预约挂号实行实名制，预约号只供本人使用。</dd>
                <dt>24、预约挂号成功后，临时去不了，能否取消预约？</dt>
                <dd>
                    　　用户在医院规定的取消时限内可以取消预约号，超过退号截止时间系统将限制用户退号，一般截止时间为就诊日期的前一天下午15:00点，就诊当天不能取消当日预约号。（注：个别医院的预约取消截止时间有所不同，具体规则请关注各家医院的个性化预约须知）
                </dd>
                <dt>25、没有及时取消预约，也不按时取号就诊，会产生什么影响？</dt>
                <dd>　　由于号源比较紧张，如您不及时取消预约，也不按时取号就诊，则会视为爽约，系统会记入诚信记录，今后将会影响到您使用预约挂号服务。详见"爽约规则"。</dd>
                <dt>26、什么是预约/退号截止时间？</dt>
                <dd>
                    　　医院需要将患者的预约记录提前收集导入HIS系统管理里，便于就诊当日现场的有序就诊。用户必须在截止时间前使用预约挂号服务或进行退号操作，超出预约截止时间，系统将限制操作。具体截止时间各医院不同，为保证您顺利的预约或取消预约号，请尽量提早一天进行操作，具体时间请参见各医院须知。一旦过了医院指定的取号/取消时间，无论数据中心还是114平台都已无权限帮您取号/取消，希望您的理解。多数医院（见各家医院"预约须知"）的取消预约时间限制是以工作日计算，不包含周六日。
                </dd>
                <dt>27、通过网站或114电话预约后，可以相互查询/取消吗？</dt>
                <dd>　　可以。但是北京朝阳医院、中日友好医院、北京协和医院、北京大学第一医院、北京儿童医院五家医院除外。</dd>
                <dt>28、挂号成功后但是医师临时停诊了怎么办？</dt>
                <dd>　　临时停诊是指医生可能因为临时的抢救、保障任务等特殊原因而临时无法出诊的情况，因此不可避免，请患者谅解和配合。<br>
                    　　遇到此类情况，我们会通过短信或者电话通知到您，您可以选择直接取消此预约或者配合更改就诊日期或更换同科室其他医生，请您保持电话畅通。
                </dd>
                <dt>29、注册、修改信息、预约等环节点击发送短信验证码的次数是否有限制？</dt>
                <dd>　　每个用户每天在预约挂号统一平台上注册、修改信息、预约等环节，点击发送短信验证码的次数是有总体限制的，请合理正常的使用操作，超过限制次数只能次日尝试操作或者拨打114电话预约挂号。</dd>
                <dt>30、预约挂号统一平台对于预约次数有限制么？</dt>
                <dd>
                    　　为了防止号贩子倒号行为，满足绝大多数百姓的最大利益和公平性，统一平台采取了预约挂号限制。按照北京市卫生和计划生育委员会统一平台提供的预约挂号服务公约，同一患者实名（有效证件号）在同一就诊日、同一医院、同一科室只能预约1次；在同一就诊日的预约总量不可超过2次；在七日内的预约总量不可超过3次；在三个月内预约总量不可超过5次。
                </dd>
                <dt>31、预约成功后，如何去医院取号就诊？</dt>
                <dd>
                    　　成功预约挂号后，系统将自动保存用户预约记录。就诊当天，您需要在医院规定的取号时间之内，前往医院指定的地点取号，并缴纳医院规定的医事服务费，逾期预约自动作废。具体取号时间和取号地点请查阅系统下发的预约成功短信和各家医院的个性化预约须知，或者拨打114人工客服电话协助查询。<br>
                    　　本着方便患者的原则，个别医院开通了自助取号或分诊台先取号后缴费服务，以减少患者就诊的手续，具体取号流程和要求以医院现场公示为准。如患者就诊后未缴费，将被列入欠费名单，您将无法通过统一预约挂号平台或在各医院进行任何形式的预约挂号和窗口挂号。<br>
                    　　取号时需要提供以下重要凭证：<br> 　　①
                    就诊当日取号时，就诊人需凭就诊人本人注册的有效证件原件、预约成功通知短信和预约识别码至医院指定的挂号窗口取号（个别医院要求先办理就诊卡并关联社保卡后再取号，具体详见各家医院的个性化预约须知）；取号时医务人员将核对就诊者的身份信息和预约记录，如信息验证不符，则医院不能提供相应的诊疗服务。<br>
                    　　②
                    "首都医科大学附属北京儿童医院（北京儿童医院）"和"首都儿科研究所附属儿童医院（儿研所）"预约取号比较特殊；预约"北京儿童医院"，就诊当日须出示监护人注册时的有效证件取号就诊。同时，就诊当日必须带患儿就诊，否则此号源作废；预约"儿研所"，就诊当日须出示患儿的有效证件（户口本/身份证/护照/港澳通行证/台胞证），及医保卡或京医通卡取号就诊,无京医通卡患儿可到门诊大厅建卡中心办理京医通卡后持卡取号。
                </dd>
                <dt>32、预约成功后，到医院还需要交费吗？</dt>
                <dd>　　成功预约后需到指定医院，由医院收取相应的医事服务费。</dd>
                <dt>33、预约成功后，去医院需要排队吗？</dt>
                <dd>　　预约成功后，您需要在规定时间内排队取号，具体就诊位数及时间以各医院安排为准。</dd>
                <dt>34、我能不能稍微迟会到医院取号？</dt>
                <dd>　　如超过医院规定的时间未取号，本次预约号源作废。所以建议用户合理安排自己的时间，按时取号就诊。</dd>
                <dt>35、黑名单用户的判定、处罚及解冻？</dt>
                <dd>判定
                    <table class="help_right_content_table" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td bgcolor="#e9e9f1">编号</td>
                            <td bgcolor="#e9e9f1">定义范围</td>
                            <td bgcolor="#e9e9f1" align="left">解释</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>注册环节</td>
                            <td align="left">身份证号不符合规范；</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>取消环节</td>
                            <td align="left">频繁取消，3个月内频繁取消大于15个号源（不含15个）；</td>
                        </tr>
                    </table>
                    黑名单用户处罚规则<br>
                    <table class="help_right_content_table" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td bgcolor="#e9e9f1" align="left">　操作</td>
                            <td bgcolor="#e9e9f1">　　　　　权限　　　　　</td>
                        </tr>
                        <tr>
                            <td align="left">　登录　</td>
                            <td>　√　</td>
                        </tr>
                        <tr>
                            <td align="left">　使用个人中心　</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td align="left">　预约　</td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <td align="left">　取消预约　</td>
                            <td>　√　</td>
                        </tr>
                        <tr>
                            <td align="left">　注册信息修改　</td>
                            <td>X</td>
                        </tr>
                    </table>
                </dd>
                <dt>36、 临床咨询、疾病咨询、药品咨询、费用咨询等问题？</dt>
                <dd>　　　预约挂号统一平台作为一个数据处理中心，只提供预约挂号的技术支持，临床医学、疾病、药品和医事服务费方面的问题请咨询相关医院。</dd>
                <dt>37、 医疗保险问题？</dt>
                <dd>　　医疗保险方面的问题请咨询用户的投保单位，具体事宜依据当地医疗保险政策执行。</dd>
                <dt>38、 预约识别码丢失、短信接收不完整怎办？</dt>
                <dd>　　预约成功后，注册手机会收到预约成功的一组短信2-3条，请严格按短信内容提示的时间和地点取号就诊即可。<br>
                    　　如确认已经预约成功，短信误删或接收不全，可以使用以下任一方式重新获得短信通知。<br> 　　1、拨打010-114，由114预约挂号专席补发约成短信；<br>
                    　　2、如果用户已经开通"个人中心"，则可以登录个人中心，在"当前预约"记录中查看预约成功的记录及预约识别码。
                </dd>
                <dt>39、 预约挂号时医保卡、就诊卡、银行卡信息都是必填项吗？</dt>
                <dd>
                    　　预约挂号时，需要填写就诊卡、医保卡、报销类型等信息，但这些信息并非是所有医院预约挂号的必填项目。是否属于必填，可根据编辑框后面是否带红色星号识别，有则必填，没有则可以跳过，详细预约流程请参见"网站预约挂号流程"。
                </dd>
                <dt>40、 是否可以用自己账户为家属预约挂号？</dt>
                <dd>
                    　　目前，只有北京儿童医院和首都儿科研究所附属儿童医院为儿童预约时，可以由监护人的账户替代预约，具体规定参考这两家医院的"预约须知"（如果儿童已经申报户口，可以用户口本的该儿童信息注册并预约挂号）。<br>
                    　　其他医院预约必须是患者实名注册预约。
                </dd>
                <dt>41、北京市预约挂号统一平台可以使用哪些证件登记注册？</dt>
                <dd>　　目前可使用身份证、军官证、护照、港澳通行证、台胞证。</dd>
            </dl>
        </div>
    </div>
</div>
<div id="fhdb"></div>
<div id="bg"></div>
<div id="footer">
    <div class="footer_nb">
        <div class="footer_img"><a class="footer_bjwjw" href="http://www.bjchfp.gov.cn/" target="_blank"></a><a
                class="footer_liantong" href="http://www.10010.com/" target="_blank"></a></div>
        <div class="footer_yb">
            <ul class="footer_ul">
                <li><a href="/gl/contact.htm">联系我们</a></li>
                <li><a href="/gl/partener.htm">合作伙伴</a></li>
                <li class="footer_ul_lipad"><a href="/gl/statement.htm">法律声明</a></li>
                <li><a href="/gl/service.htm">服务协议</a></li>
                <li><a href="/u/feedback.htm">意见反馈</a></li>
            </ul>
            <p class="footer_p_bqsm">版权所有:京ICP备05056889号</p></div>
        <div class="footer_ewm"><h3>关注官方微信</h3><span class="footer_ewm_span"><img
                src="http://img.bjguahao.gov.cn/ws/1.0/hs/images/footer_ewm.jpg"></span></div>
    </div>
</div>
<script type="text/javascript">
    function goonLogin() {
        $(".djdl_fpsuts").hide();
        popCenterWindow("#djdl", "#djdl_close");
        reloadImage($("#yzmdl"))
    }

    function submitModifyPass() {
        var a = $("#passWordfp"), b = $("#passWordAgainfp");
        if (!a.valid()) return !1;
        if (!b.valid()) return !1;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: basePath + "help/rpassword.htm",
            data: {pass: a.val(), isAjax: !0},
            success: function (a) {
                a.hasError ? alert(a.msg) : ($("#djdl_fpsu").css({display: "none"}), popCenterWindow(".djdl_fpsuts", "#djdl_fpsuts_close"))
            }
        })
    }

    function checkForm() {
        var a = $("#djdl_fp_zjhm").val(), b = $("#djdl_fp_yzm").val(), c = $("#djdl_fp_sfzhm").val(),
            d = $("#djdl_fp_sjyz").val();
        if (!$("#djdl_fp_zjhm").valid()) return !1;
        if (!$("#djdl_fp_yzm").valid()) return !1;
        if (!$("#djdl_fp_sfzhm").valid()) return !1;
        if (!isBindMobile("", "")) return !1;
        if (!$("#djdl_fp_sjyz").valid()) return !1;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: basePath + "help/fpassword.htm",
            data: {cardNo: a, imageCode: b, phoneNo: c, phoneCode: d, isAjax: !0, channel: "zhmm"},
            success: function (a) {
                a.hasError ?
                    alert(a.msg) : ($("#djdl_fp_close").click(), popCenterWindow("#djdl_fpsu", "#djdl_fpsu_close"))
            }
        })
    }

    function popDiv() {
        $("#djdl_close").click();
        popCenterWindow("#djdl_fpassword", "#djdl_fp_close");
        reloadImage3($("#djdl_fp_yzmdl"), "zhmm")
    }

    function reloadImage(a) {
        $(a).attr("src", "/IdentityServlet?ts=" + (new Date).getTime())
    }

    function reloadImage3(a, b) {
        $(a).attr("src", "/IdentityServlet?ts=" + (new Date).getTime() + "&channel=" + b)
    }

    function isBindMobile() {
        var a = !1;
        $.ajax({
            url: basePath + "v/mobilefp.htm",
            type: "post",
            async: !1,
            data: {
                idNo: $("#djdl_fp_zjhm").val(),
                tupianyzm: $("#djdl_fp_yzm").val(),
                sms: $("#djdl_fp_sfzhm").val(),
                isAjax: !0
            },
            success: function (b) {
                b != "true" ? ($("#djdl_fp_close").click(), popCenterWindow("#djdl_fpfalse", ""), a = !1) : a = !0
            }
        });
        return a
    }

    $(function () {
        initValidatorFindPW();
        initValidatorFindPW2();
        sendSmsCodeBtn({
            GLVar: "btnSendCodeVLogin",
            btnId: "#btnSendCodeVLogin",
            formId: "#rg_nrfrom2",
            url: basePath + "v/sendcodecommon.htm",
            valid: function () {
                if (!$("#zjhmVerifyLogin").valid()) return !1;
                if (!$("#mobileVerifyLogin").valid()) return !1;
                if (!$("#yzmVerifyLogin").valid()) return !1;
                return !0
            },
            ok: function () {
                $("#vresultspan").html("<p class='sms_suce' for='nameVerifyLogin' generated='true'>\u77ed\u4fe1\u53d1\u9001\u6210\u529f,\u8bf75\u5206\u949f\u5185\u8f93\u5165.</p>")
            },
            notok: function (a) {
                $("#vresultspan").html("<p class='error' for='nameVerifyLogin' generated='true'>" + a.msg + "</p>")
            },
            error: function () {
                $("#vresultspan").html("<p class='error' for='nameVerifyLogin' generated='true'>\u77ed\u4fe1\u53d1\u9001\u5931\u8d25.</p>")
            }
        });
        sendSmsCodeBtn({
            GLVar: "btnSendCodeFPW",
            btnId: "#btnSendCodeFPW",
            formId: "#rg_nrfrom6",
            url: basePath + "v/sendcodecommon.htm",
            valid: function () {
                if (!$("#djdl_fp_zjhm").valid()) return !1;
                if (!$("#djdl_fp_yzm").valid()) return !1;
                if (!$("#djdl_fp_sfzhm").valid()) return !1;
                if (!isBindMobile("", "")) return !1;
                return !0
            },
            ok: function () {
                alert(prompts.sms_code_send_ok)
            },
            notok: function (a) {
                alert(a.msg)
            },
            error: function () {
                alert(prompts.sms_code_send_failed)
            }
        })
    });</script>
<script type="text/javascript">
    wValChg('yyk', 'h');
</script>
<script src="http://img.bjguahao.gov.cn/ws/1.0/hs/js/ymxg.js"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?bc7eaca5ef5a22b54dd6ca44a23988fa";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>